<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="correctedFiles" value="c:\Users\lrogiewicz\Desktop\c#\TMS Archive replacer inputs\FixedBilingualFiles\"/>
    <add key="wrongFiles" value="c:\Users\lrogiewicz\Desktop\c#\TMS Archive replacer inputs\ArchiveSample\"/>
  </appSettings>  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>